# Visual Studio
.vs/

# Build outputs
**/bin/
**/obj/

# App build output only
/LakbayGameApp/build/

# Published outputs
publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Debug files
*.pdb

# Generated binaries
*.dll
*.exe